.content {
    overflow: hidden;
}

.sign-container {
    z-index: 0;
}

.sign-container canvas {
    background: none !important;
    z-index: 0;
    height : 90vh;
}

.main-logo {
    width : 100%;
    margin-top : 10vh;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top : 0px;
    z-index: -1;
    max-height: 100vh;
}
.main-logo svg {
    width : 28vw;
}
.present p {
    margin : 0 0 0 0;
    line-height: 1.5;
}
.present p span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

.present {
    margin-top: 3vh;
    display: inline-block;
    color : #a2d5c6;
    font-size: 2.5vw;
    font-weight: bold;
    
}

.present .line2 {
    color : #8d8d8d;
    font-size: 1.5vw;
    font-weight: normal;
}
@media only screen and (max-width: 600px) {
    .present {
        font-size: 7vw;
        letter-spacing: .03em;
        max-width: 70vw;
    }
    .present .line2{
        font-size: 4.5vw;
    }
    .main-logo svg {
        width : 72vw;
    }
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(7, 123, 138, 0.75); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: rgba(7, 123, 138, 0.15) }
    50% { border-color: rgba(7, 123, 138, 0.75) }
  }


.logo {
    height : 100%;
}
 .path {
    fill-opacity: 1;
    stroke:#07626e;
    stroke-miterlimit:10;
    stroke-dasharray:250;
    stroke-dashoffset:250;
}

@keyframes dash {
    0% {
        stroke-dashoffset:250;
        fill-opacity: 0;
    }
    50% {
        stroke-dashoffset:0;
        fill-opacity: 0;
    }
    60% {
        stroke-dashoffset:0;
        fill-opacity: 1;
    }
    100% {
        stroke-dashoffset:250;
        fill-opacity: 1;
    }
}
svg .path {
    animation: dash 12s ease-in;
}

