body {
    height : 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top : 0px;
}

.content {
    overflow: hidden;
    display : flex;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    z-index: 1;
}

.sign-container {
    z-index: 0;
}

.sign-container canvas {
    background: none !important;
    z-index: 0;
    height : 90vh;
}

.main-logo {
    width : 100%;
    padding-top : 10vh;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top : 0px;
    z-index: -1;
    max-height: 100vh;
}
.main-logo svg {
    width : 28vw;
}
.present p {
    margin : 0 0 0 0;
    line-height: 1.5;
}
.present p span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

.present {
    margin-top: 3vh;
    display: inline-block;
    color : #a2d5c6;
    font-size: 2.5vw;
    font-weight: bold;
    
}

.present .line2 {
    margin-top: 3vh;
    color : rgb(219, 219, 219);
    font-size: 1.5vw;
    font-weight: normal;
}
@media only screen and (max-width: 600px) {
    .present {
        font-size: 7vw;
        letter-spacing: .03em;
        max-width: 70vw;
    }
    .present .line2{
        font-size: 4.5vw;
    }
    .main-logo svg {
        width : 72vw;
    }
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(7, 123, 138, 0.75); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: rgba(7, 123, 138, 0.15) }
    50% { border-color: rgba(7, 123, 138, 0.75) }
  }


.logo {
    height : 100%;
}
 .path {
    fill-opacity: 1;
    stroke:#07626e;
    stroke-miterlimit:10;
    stroke-dasharray:250;
    stroke-dashoffset:250;
}

@keyframes dash {
    0% {
        stroke-dashoffset:250;
        fill-opacity: 0;
    }
    50% {
        stroke-dashoffset:0;
        fill-opacity: 0;
    }
    60% {
        stroke-dashoffset:0;
        fill-opacity: 1;
    }
    100% {
        stroke-dashoffset:250;
        fill-opacity: 1;
    }
}
svg .path {
    animation: dash 12s ease-in;
}


.scroll-down {
    position: absolute;
    right: 14px;
    bottom: 20px;
    width : 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 16px;
    letter-spacing: 0.08rem;
}

.scroll-down-left {
    left: 14px;
}

.scroll-down span {
    webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-animation-name: bounce-1;
    animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color : #a2d5c6;
}
.scroll-down svg {
    width : 100%;
    fill : #a2d5c6;
    margin-top : 6px;
}

@keyframes bounce-1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


