.load-container {
  display : none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 4;
  pointer-events: none;
}

.loading-screen {
  display: flex;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #413e3e;
  width: 100%;
  height: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a5a5a5;
  font-size: 2vmin;
}
.loading-screen img {
  height : 15vmin
}

.name-loading {
  color: #A2D5C6;
  font-weight: bold;
  font-size: 4vmin;
  margin-top: 8px;
  margin-bottom: 10px;
}

.loading {
top : -10px;
left : -20px;
position: absolute;
display: flex;
height : 100%;
width: 100%;
justify-content: center;
align-items: center;
}
.loading div {
width: 55vmin;
height: 55vmin;
position: absolute;
border-top: 20px solid;
border-radius: 50%;
}
.loading .first {
transform: skew(-10deg) translateX(50px) rotate(45deg);
animation: rot1 1.2s ease infinite;
border-color: #5c3c92;
}

.loading .second {
transform: skew(-10deg) rotate(165deg);
animation: rot2 1.2s ease infinite;
border-color: #077b8a;
}

.loading .third {
transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(285deg);
animation: rot3 1.2s ease infinite;
border-color: #d72631;
}

@keyframes rot1 {
100% {
transform: skew(-10deg) translateX(50px) rotate(405deg);
}
}
@keyframes rot2 {
100% {
transform: skew(-10deg) rotate(525deg);
}
}
@keyframes rot3 {
100% {
transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
}
}


@media only screen and (max-width: 600px) {
  .loading-screen {
      font-size: 4vmin;
  }
  .loading-screen img {
      height : 25vmin
  }
  .name-loading {
      font-size: 7vmin;
  }
  .loading div {
      width: 92vmin;
      height: 92vmin;
  }
}