body {
    height : 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top : 0px;
    
}

/* main {
    height : 50%;
    top : 0px;
} */
.content-timer {
    display : flex;
    /* margin-top: 30%; */
    
    height: 100vh;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size : 27px;
    z-index: 1;
    text-align: center;
    color: rgb(7, 123, 138);
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
}

.content-timer p {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    text-shadow: 1px 1px 2px black;
}
.content-timer .timer {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    color: rgba(7, 123, 138, 1);
    text-shadow: 0 0 20px rgba(92, 60, 146, 1),  0 0 20px rgba(10, 175, 230, 0);
    font-size : 200%;
    width : 70%;
    text-align: center;
    
}


.content-timer a img {
    height : 40px;
}

.content-timer a:link {
    text-decoration:none; 
}

.deconstructed {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0.71em;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
    padding-bottom: 15px;
  }
  
.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(7, 123, 138);
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .deconstructed {
        height : auto;
    }
}

@media only screen and (min-width: 600px) {
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 4s infinite 0.3s;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 4s infinite 0.3s;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 4s infinite 0.3s;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 4s infinite 0.3s;
  }

}

@keyframes deconstructed1 {
  0% {
    opacity : 0;
    transform: translateX(24vw);
  }
  26% {
    opacity : 1;
    transform: translateX(0%);
  }
  83% {
    opacity : 1;
    transform: translateX(-0.3%);
  }
  100% {
    opacity : 0;
    transform: translateX(-75%);
  }
}

@keyframes deconstructed2 {
  0% {
    opacity : 0;
    transform: translateX(24vw);
  }
  24% {
    opacity : 1;
    transform: translateX(1.5%);
  }
  82% {
    opacity : 1;
    transform: translateX(-0.6%);
  }
  100% {
    opacity : 0;
    transform: translateX(-80%);
  }
}

@keyframes deconstructed3 {
  0% {
    opacity : 0;
    transform: translateX(24vw);
  }
  22% {
    opacity : 1;
    transform: translateX(0%);
  }
  81% {
    opacity : 1;
    transform: translateX(0%);
  }
  100% {
    opacity : 0;
    transform: translateX(-85%);
  }
}

@keyframes deconstructed4 {
  0% {
    opacity : 0;
    transform: translateX(24vw);
  }
  20% {
    opacity : 1;
    transform: translateX(0%);
  }
  80% {
    opacity : 1;
    transform: translateX(0%);
  }
  100% {
    opacity : 0;
    transform: translateX(-90%);
  }
}